@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensures active links display as block elements */
a.active {
  display: block;
}

/* Apply 'Outfit' font to all elements */
* {
  font-family: 'Outfit';
}

/* Class for 'Prata' regular style */
.prata-regular {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: normal; 
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

